:root {
	/* Синие цвета на основе #2563EB */
	--primary-50: rgb(239, 246, 255);
	--primary-100: rgb(219, 234, 254);
	--primary-200: rgb(191, 219, 254);
	--primary-300: rgb(147, 197, 253);
	--primary-400: rgb(96, 165, 250);
	--primary-500: rgb(37, 99, 235);
	/* Основной цвет #2563EB */
	--primary-600: rgb(30, 79, 188);
	--primary-700: rgb(25, 66, 157);
	--primary-800: rgb(20, 53, 125);
	--primary-900: rgb(15, 40, 94);
	--primary-950: rgb(10, 27, 63);

	--secondary-50: rgb(255, 255, 255);
	--secondary-100: rgb(254, 254, 254);
	--secondary-200: rgb(253, 253, 253);
	--secondary-300: rgb(252, 252, 252);
	--secondary-400: rgb(251, 251, 251);
	--secondary-500: rgb(240, 240, 240);
	--secondary-600: rgb(225, 225, 225);
	--secondary-700: rgb(200, 200, 200);
	--secondary-800: rgb(175, 175, 175);
	--secondary-900: rgb(150, 150, 150);
	--secondary-950: rgb(125, 125, 125);

	--black: #080A0B;
	--white: rgb(255, 255, 255);

	--primary-surface-color: var(--black);
	--secondary-surface-color: var(--black);

	--text-color: #000000;
	--text-color-secondary: #888888;
	--site-bg: #FFFFFF;

	/* ================== Карточки (светлая тема) ================== */
	--card-default: #FBFBFB;
	/* стандартная карточка */
	--card-accent: #F4F4F4;
	/* акцентная карточка / Card Secondary */
	--card-hover: rgb(245, 245, 245);
	/* hover / поднятая карточка - немного темнее */

	/* ================== Контуры / разделители (светлая тема) ================== */
	--border-light: rgb(230, 230, 230);
	/* лёгкий бордер */
	--border-medium: #D8D9D8;
	/* более заметный бордер */

}


.app-dark {
	--text-color: #EAEAEA;
	--site-bg: #121212;
	--text-color-secondary: #B0B0B0;

	--primary-50: rgb(239, 246, 255);
	--primary-100: rgb(219, 234, 254);
	--primary-200: rgb(191, 219, 254);
	--primary-300: rgb(147, 197, 253);
	--primary-400: rgb(96, 165, 250);
	--primary-500: rgb(37, 99, 235);
	--primary-600: rgb(30, 79, 188);
	--primary-700: rgb(25, 66, 157);
	--primary-800: rgb(20, 53, 125);
	--primary-900: rgb(15, 40, 94);
	--primary-950: rgb(10, 27, 63);


	--secondary-50: rgb(245, 245, 245);
	--secondary-100: rgb(230, 230, 230);
	--secondary-200: rgb(200, 200, 200);
	--secondary-300: rgb(160, 160, 160);
	--secondary-400: rgb(100, 100, 100);
	--secondary-500: rgb(30, 30, 30);
	/* твой базовый цвет */
	--secondary-600: rgb(25, 25, 25);
	--secondary-700: rgb(20, 20, 20);
	--secondary-800: rgb(15, 15, 15);
	--secondary-900: rgb(10, 10, 10);
	--secondary-950: rgb(5, 5, 5);

	/* ================== Карточки ================== */
	--card-default: #1E1E1E;
	/* стандартная карточка */
	--card-accent: #2A2A2A;
	/* акцентная карточка / Card Secondary */
	--card-hover: #3C3C3C;
	/* hover / поднятая карточка */

	/* ================== Контуры / разделители ================== */
	--border-light: rgb(46, 46, 46);
	/* лёгкий бордер */
	--border-medium: #3A3A3A;
	/* более заметный бордер */

}